@import '../../variables.scss';

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  .player {
    width: 100vw;
    height: 100vh;
  }

  .imageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    opacity: 0;
    display: none;
    transition: opacity 1s ease-in-out;

    &.visible {
      opacity: 1;
      display: flex;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    padding: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
    transition-delay: 3s;

    &:hover {
      opacity: 1;
      transition-delay: 0s;
    }
  }

  .backArrow {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    transform: scale(1);

    &:hover {
      cursor: pointer;
      transform: scale(1.3);
    }
  }
}
