@import '../variables.scss';

.wrapper {
  height: 100vh;
  max-height: 100vw / 19 * 9;
  background-color: $placeholderBackgroundColor;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: -$playlistScrollerItemHeight * $playlistScrollerItemScaleFactor /
    3.5;

  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 60px;
    max-width: 50vw;
    background-image: linear-gradient(
      to right,
      rgba(20, 20, 20, 0.3) 50%,
      rgba(20, 20, 20, 0) 100%
    );

    .title {
      font-size: 2.5em;
      font-weight: bold;
      text-shadow: rgba(0, 0, 0, 0.3) 2px 2px 4px;
    }

    .description {
      font-size: 1.3em;
      line-height: 1.25;
      text-shadow: rgba(0, 0, 0, 0.3) 2px 2px 4px;
    }

    .buttons {
      display: flex;
      flex-direction: row;

      button {
        margin-right: 0.5em;
      }
    }
  }
}
