$white: rgb(255, 255, 255);
$gray: rgb(128, 128, 128);
$black: rgb(20, 20, 20);
$red: rgb(229, 9, 20);
$green: rgb(89, 168, 15);

$textColor: $white;
$backgroundColor: $black;
$logotypeColor: $red;

$linkColor: $gray;
$linkHoverColor: $white;

$placeholderBackgroundColor: rgba(100, 100, 100, 0.95);

$fontSize: calc(.7vw + .7vh + .3vmin);
$lineHeight: 1.5;

$sideMargin: 55px;

$buttonTextColor: $white;
$buttonTextColorHover: $black;
$buttonBackgroundColor: rgba(255, 255, 255, 0.03);
$buttonBackgroundColorHover: $white;

$horizontalScrollerItemWidth: 30vmin;
$horizontalScrollerItemHeight: 17vmin;
$horizontalScrollerItemScaleFactor: 1.8;

$horizontalScrollerItemGrowthWidth: $horizontalScrollerItemWidth * $horizontalScrollerItemScaleFactor - $horizontalScrollerItemWidth;