$white: rgb(255, 255, 255);
$whiteGray: rgb(229, 229, 229);
$gray: rgb(128, 128, 128);
$black: rgb(20, 20, 20);
$red: rgb(229, 9, 20);
$green: rgb(89, 168, 15);

$textColor: $white;
$backgroundColor: $black;
$logotypeColor: $red;

$linkColor: $gray;
$linkHoverColor: $white;

$placeholderBackgroundColor: rgba(100, 100, 100, 0.95);

$fontSize: 1.1vw;
$lineHeight: 1.5;

$sideMargin: 55px;

$buttonTextColor: $white;
$buttonTextColorHover: $black;
$buttonBackgroundColor: rgba(60, 60, 60, 0.5);
$buttonBackgroundColorHover: $white;

$horizontalScrollerItemWidth: 30vmin;
$horizontalScrollerItemHeight: 17vmin;
$horizontalScrollerItemScaleFactor: 1.8;

$horizontalScrollerItemGrowthWidth: $horizontalScrollerItemWidth * $horizontalScrollerItemScaleFactor - $horizontalScrollerItemWidth;