@import '../variables.scss';

.button {
  font-size: 1.1em;
  font-weight: bold;
  border-width: 0;
  border-radius: 0.2em;
  padding: 0.1em 1.5em;
  height: 2.2em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  & svg {
    margin-right: 0.5em;
  }

  &.primary {
    color: $buttonPrimaryTextColor;
    background-color: $buttonPrimaryBackgroundColor;
  }

  &.secondary {
    color: $buttonSecondaryTextColor;
    background-color: $buttonSecondaryBackgroundColor;
  }

  &.round {
    border-radius: 50%;
    width: 2.2em;
    padding: 0;
    justify-content: center;

    svg {
      margin: 0;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &.primary:hover {
    background-color: $buttonPrimaryBackgroundColorHover;
  }

  &.secondary:hover {
    background-color: $buttonSecondaryBackgroundColorHover;
  }
}
