@import "../../config/variables.scss";

.featuredMovie {
  height: 100vh;
  max-height: calc(100vw / 16 * 9);
  max-height: 100vw / 19 * 9;
  background-color: $placeholderBackgroundColor;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: -80px;
}

.movieDetails {
  margin-left: 60px;
  max-width: 50vw;
}

.title {
  font-size: 2.5em;
  font-weight: bold;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.buttons > * {
  margin-right: 10px;
}

.synopsis {
  font-size: 1.2em;
}