@import '../../config/variables.scss';

.player {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .iframe {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    padding: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
    transition-delay: 3s;

    &:hover {
      opacity: 1;
      transition-delay: 0s;
    }

    .returnButton {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      path {
        fill: $textColor;
      }
    }
  }
}
